
@media  (max-width: 700px) {
   
    #img13{
        width: fit-content ;
        height: fit-content ;

    }
    #hr{
        width: 200px;
      
    }
    #img13A,#img13B,#img13C{
        width: 60px ;
        height: 30px  ;

    }
}