 
  /* Media query for medium screens */
  @media  (max-width: 768px) {
   #firstA,  #firstB  {
    width: 100%;
 /* margin-left: 60px; */

    }
    #imgDiv{
    width: 100%;
    }
#img12{
  margin: 0 auto;
}

 
  }
  