@media (min-width: 452px) and (max-width: 700px) {
    #twentyA,#twentyB,#twentyC {
      display: block;
      column-gap: 10px;
      text-align: left;
      text-align: justify;
    }
    #twentyB p{
        margin-left:0;
        text-align: left;
    }
    #twentyC p{
        margin:0;
        text-align: left;
    }
}