@media (max-width: 500px) {
    #container {
      /* Adjusted image size for screens <= 1025px */
      /* display: block; */
      width: 100%;
      margin: 0%;
      
  
    }
  
    #twenty1 #p2{
      letter-spacing:5px; 
      text-align:justify;
      line-height:50px;
    }
    
    #twenty1 #p4{
       margin-right:150px;
      letter-spacing:5px; 
      text-align:justify;
      line-height:50px;
    }
     #twenty1{
      flex-direction: column; /* Change to block display */
      align-items: center;
      padding-top: 0; /* Adjust padding as needed */
    
      
      
    }
    #p3{
      display: none;
    }
      
    #container #p1, #p2, #p4{
    
      font-size: 15px;
  
    }
  
    #p1,
  #p2,
  #p4{
    margin: 0;
     
    }

  }

  #twenty1 #p1{
    font-size: 25px;
    font-weight:500;
  }
  
  #twenty1 #p2,#twenty1 #p4{
    width: 80%;
    margin: 0 100px;
    text-align: justify;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 3px;
    margin-left: 10px; /* Adjust this value as needed */
    margin-right: 10px; /* Adjust this value as needed */
  }

  #p2,
  #p4 {
    margin-left: 10px; /* Adjust this value as needed */
    margin-right: 10px; /* Adjust this value as needed */
  }