@media (max-width: 768px) { /* Small screens */
    img {
      width: 60%;
      height: 30%;
    }
  }
  
  @media (max-width: 1024px) { /* Medium screens */
   

    #letterPara{
    
     text-align: center;
    }
  }