@media (max-width: 768px) { /* Small screens */
  #para{
    height: 100vh;
  } 
  #letterPara {
      /* margin: 0 auto; */
      width: 10%;
      font-size:100px ;
      
    }
  }
  
  @media (max-width: 1024px) { /* Medium screens */
   

    #letterPara{
    
     text-align: center;
    }
  }